@use './variables' as *;
@use './mixins' as *;
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: $font;
}

/* utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}